html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: #FFFFFF;
}
.nav{
  display: flex;
  background: #000637;
width: 100%;}

.navbar-brand{
  width: 15%;
  margin-left: 20px
}

.navbar-brand img{
  width: 150px;
  height: auto;
top: 2%;
border-radius: 0px;
/* margin-right: 45%; */
}

.dropbtn {
  background: #000637;

  margin-right: 42px;
  font-size: 12px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
 letter-spacing: 0.31em;
 text-align: center;
 color: #FDFDFF;
}

.dropbtn a{
  text-decoration: none; 
  color: #FDFDFF;
}
.arrow_down {
  height: 10px;
  width: 10px;
  border-top: 3px solid #FDFDFF;
  border-left: 3px solid #FDFDFF;
  transform: rotate(225deg);
}

.dropdown {
  position: relative;
  display: inline-block;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  font-family: "Open Sans";
  font-style: italic;
  color: #0D0E0F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.btn-login{
width: 85px;
height: 35px;
margin-right: 20px;
background: #FDFDFF;
border-radius: 6px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
color: #3845A7;
}


.footer{
background: #03061F;

}
.footer img{
  height: 274px;
  width: 229px;
  left: 60px;
  top: 30px;
  border-radius: 0px;  
margin-left: 25%;
}

.footer p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
padding-left: 10px;
color: #FFFFFF;
}
.footer a{
  text-decoration: none;
  color: #FFFFFF;
}

.footer h4{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
line-height: 20px;
color: #FFFFFF;
padding: 10px;
}

.land{
  background: #3845A7;
}

.land .row{
  margin-left: 10%;
}
.land h1{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 60px;
/* line-height: 40px; */
color: #FDFDFF;
margin-top: 5%;
}

.bg{
  background-image: url("../asset/land-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
  height: 400px;
}

.bg-2{
  background-image: url("../asset/land-bg.png");
  background-repeat: no-repeat;
  background-position:center;
  background-position-y: center;
  height: 140px;
}
.bg-3{
  background-image: url("../asset/bg-3.png");
  background-repeat: no-repeat;
  background-position:center;
  background-position-y: center;
}

.download{
  background: url(../asset/Mobile\ App\ Download.png) no-repeat scroll 0 0 transparent;
  background-repeat: no-repeat;
background-position: left;
width: 220px;
height: 86px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #3845A7;
padding-left: 40px;
border: none;
border-radius: 6px;
margin-top: 3%;
text-align: justify;
}

#land_header{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 59px;
margin-top: 25px;
text-align: center;
color: #000000;
margin-bottom: 20px;
}

.panduan{
  background: url(../asset/bg_panduan.png) no-repeat scroll 0 0 transparent;
  background-position: left;
}

.btn_panduan{
gap: 23px;

}

.btn_panduan button{
  margin: 2%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  align-items: center;
  color: #FDFDFF;
  height: 110px;
width: 250px;
border-radius: 20px;
text-align: left;
padding-left: 37px;
border: none;
size: 100%;
}

.btn_panduan a{
  text-decoration:none;
  color:white
}

.btn_buku{
  background: url(../asset/btn_buku.png) no-repeat scroll 0 0 transparent;
  background-position: right;
  background-size: 100%;
}

.btn_capstone{
  background: url(../asset/btn_capstone.png) no-repeat scroll 0 0 transparent;
  background-position: right;
  background-size: 100%;
}

.btn_kp{
  background: url(../asset/btn_kp.png) no-repeat scroll 0 0 transparent;
  background-position: right;
  background-size: 100%;
}

.forms{
  width: 834px;
height: 100px;
background: #3845A7;
border-radius: 11px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
text-align: center;
}

.forms a{
  text-decoration: none;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}

.forms a:hover{
  background: radial-gradient(50% 50% at 50% 50%, #5E6CD0 0%, rgba(94, 108, 208, 0) 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.e-resource{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  row-gap: 15px;
  margin-bottom: 5%;
}

#resource-gap{
  border: none;
  overflow-wrap: break-word;
  gap:15px
}

#resource-gap a{
  text-decoration: none;
  overflow-wrap: break-word;
}

.faq-page{
  background-image: url(../asset/faq_bg.png);
  width: 100%;
  background-repeat: no-repeat;
}
.faq-isi{
  margin-left: 3%;
  margin-right: 3%;
  
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-align: left;
}

.tatib{
  width: 100%;
  margin: 5%;
  align-items: center;
}

.bg-profil{
  background: linear-gradient(180deg, rgba(56, 69, 167, 0.13) 0%, rgba(56, 69, 167, 0.253974) 8.08%, rgba(56, 69, 167, 0.5215) 25.52%, rgba(56, 69, 167, 0.545794) 51.56%, rgba(56, 69, 167, 0.554348) 74.48%, rgba(56, 69, 167, 0.328083) 91.15%, rgba(56, 69, 167, 0) 100%);
padding-top: 3%;
padding-bottom: 3%;
}

.bg-profil h4{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 80px;
line-height: 122px;
align-items: center;
text-align: center;
}

#visi{
  margin-left: 5%;
  margin-right: 5%;
  background: #3845A7;
border-radius: 80px;
height: 450px;
}

#visi-isi{
color: #FDFDFF;
padding: 1% 3% 1% 3%;
}

#visi-isi h6{
  align-items: center;
text-align: center;
font-family: 'Montserrat';
font-style: italic;
font-weight: 800;
font-size: 30px;
line-height: 37px;
}

#visi-isi a{
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 15px;
  line-height: 37px;
}

#pustakawan_header{
  font-family: 'Raleway';
font-style: italic;
font-weight: 700;
font-size: 70px;
line-height: 82px;
text-align: center;
margin: 2%;
}

.jam{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin: 3%
}

.jam table{
  padding: 5%;
}

.jam th{
  font-family: 'Montserrat';
font-style: italic;
font-weight: 800;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
border: 5px solid;
}

.jam td{
  font-family: 'Montserrat';
font-style: italic;
font-weight: 800;
font-size: 20px;
line-height: 30px;
color: #000000;
}

.jam tr:nth-of-type(even) td:nth-of-type(odd),.jam tr:nth-of-type(odd) td:nth-of-type(even){
  background-color:#70C183;
}
.jam tr:nth-of-type(even) td:nth-of-type(even), .jam tr:nth-of-type(odd) td:nth-of-type(odd)
{
background-color:#FFFFFF;
}

.jam tr:nth-of-type(even) th:nth-of-type(odd),.jam tr:nth-of-type(odd) th:nth-of-type(even){
  border-color: #FFFFFF;
}

.jam tr:nth-of-type(even) th:nth-of-type(even), .jam tr:nth-of-type(odd) th:nth-of-type(odd)
{
  border-color: #70C183;
}

.jam thead th:nth-of-type(even), .jam th:nth-of-type(odd)
{
  border-color: #70C183;
}

.jam thead th:nth-of-type(odd),.jam th:nth-of-type(even){
  border-color: #FFFFFF;
}

.pustakawan{
  background: linear-gradient(89.8deg, #4EA8DE 0.14%, rgba(70, 82, 172, 0) 100.86%);
  border-radius: 20px;
  width: 520px;
  height: 226px;
  margin: 5%;

}

.pustakawan_reverse{
  background: linear-gradient(89.8deg, #4EA8DE 0.14%, rgba(70, 82, 172, 0) 100.86%);
  transform: rotate(-180deg);
  border-radius: 20px;
  width: 520px;
  height: 226px;
  margin: 5%;
  margin-left: auto;
  margin-right: 5%;
}

.cardd{
  transform: rotate(-180deg);
    width: 100%;
    background: none;
    border: none;
    position: relative;
}

.image_pustakawan{
height: 100px;
background: #EEEFF0;
border-radius: 64px;
width:30%;
align-self: left;
}

.pustakawan_text{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 31px;
color: #FDFDFF;
width:70%;
align-self: right;
}

.mobile_text h2{
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
color: #FDFDFF;
margin-top: 5%;
}

.mobile_text a{
  font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
font-size: 30px;
line-height: 37px;
margin-top: 20px;
}

.mobile_bg{
  background-image: url(../asset/mobile.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
  height: 100%;
  margin: 3%;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}

.news{
  width: 400px
}
.news h5{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
}

.news p{
  height: 150px;
  overflow:hidden;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 12px;
}

.news_btn{
  border-radius: 37px;
  border-color: #FF6551;
  color: #FF6551;
}

.carousel-indicator{
  background: #4EA8DE;
}

.search{
  background: #3845A7;

}

.search_btn{
  border-color: white;
  background-color: #3845A7;
}

.sortir{
  background: #FFFFFF;
border: 3px solid #000000;
border-radius: 19px;
}

.form-control { 
  color: white;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.collapse .card{
  background-color: #3845A7;
}
.index_header{
  text-align: left;
  margin-left: 5%;
  font-style: italic;
  font-family: 'Raleway';
  font-weight: 700;
}

.table_box{
  margin: 3%;
  width: 94%;
  border-spacing: 0px; border-collapse: separate;
}
.head_table{
  background: #000637;
  color: #FFFFFF;
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;

}

.content_table{
  background: #FFFFFF;
  border-style: none;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
color: #000000;
}

.content_table tr td{
  border:  2px solid  #3845A7;
  vertical-align: middle;
  border-radius: 4px;
}

.gpp{}
